###################################################################################################
#### To enable WebSockets on the Python platform, this configuration file
#### configures the Apache proxy server to use ProxyPass and ProxyPassReverse to proxy the
#### connections through to a Python application running on port 8000. Change the port number to suit
#### your application's needs. The configuration file also enables the mod_proxy_wstunnel module,
#### which is required for WebSockets to work.
####
#### This configuration file works with single-instance and load-balanced environments.
####
#### If you're using a Classic Load Balancer, you need to enable TCP listeners. See:
#### http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.managing.elb.html
###################################################################################################

files:
  "/etc/httpd/conf.d/proxy-pass.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      ProxyPass /ws/ ws://127.0.0.1:8000/
      ProxyPassReverse /ws/ ws://127.0.0.1:8000/

  "/etc/httpd/conf.modules.d/99-mod_proxy_wstunnel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <IfModule !proxy_wstunnel_module>
      LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so
      </IfModule>