###################################################################################################
#### This configuration file configures the timezone on each instance in the environment.
#### Its using tzutil command to set timezone on the instance. Have a look
#### at the URL https://technet.microsoft.com/en-us/library/cc749073%28v=ws.10%29.aspx for all possible
#### timezone values in this case its done for UTC+1
###################################################################################################

commands:
  setting_time_zone:
    command: tzutil /s "W. Europe Standard Time"